*
{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

section
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section #Game
{
    height: 459px;
    width: 459px;
    border: 2.1px solid black;
}

section #buttons
{
    width: 459px;
    display: flex;
    justify-content: space-between;
}

#buttons button
{
    cursor: pointer;
    margin-top: 3px;
    height: 37px;
    width: 47px;
    border: 1px solid #000;
}

section #Game #player
{
    height: 37px;
    width: 33px;
    border: 1px solid #77f;
    background: url("/inGame/personagem.png");
    background-position: 0 0;
}
section #Game #portalInDiv
{
    margin-top: 33px;
    margin-left: 397px;
    width: 27px;
    height: 27px;
    border: 0;
    border: 1px solid #f0f;
    background: #f0f3;
}

#player.esquerda{
    background-position: 0 36px;
}
#player.cima{
    background-position:0 72px;
}
#player.direita{
    background-position:0 108px;
}

#player.andando{
    animation:andando 500ms steps(3);
}

@keyframes andando{
    0% { background-position-x: 0 }
    100% {background-position-x:-140px; }
}